
<h1>Home</h1>

<div class="box" >
    @ViewBag.EnvironmentName
</div>

<environment include="Development">
    <button class="button button-blue-back" >Button only for Development Environment.</button>
</environment>

<br />

<environment exclude="Development" >
    <button class="button button-green-back">Button only for Non-Development Environment.</button>
</environment>